.edit {
    background-color: rgb(2, 114, 114);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    color: white;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-top: 3%;
}