table, th, td {
    border: 1px solid black;
}
table {
    width: 100%;
}
.daftar {
    margin-left: 5%;
    margin-right: 5%;
}
.edit {
    background-color: green;
    color: white;
}
.hapus {
    background-color: red;
    color: white;
}
